<div ng-controller="customTasksController">

		<h3 class="title">Tip Calculator</h3>
		<form>
			<label>Enter the bill amount for your meal:</label>
			<div class="form-inline">
				<p>$</p><input type="text" class="form-control" id="bill" placeholder="Add an item" ng-model="newTask.to_do">
				<button class="btn btn-default" ng-click="addTask()">Calculate</button>
			</div>
		</form>

	<table class="table table-responsive" id="list">
		<thead>
			<tr>
				<th style="width:65%">Tasks</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="task in tasks" id="hover">
				<td ng-bind="task.to_do" style="overflow-wrap: normal" class="grow-shadow"></td> 
				<td style="text-align:right">
					<form>
						<button class="btn btn-info" ng-click="doneTask($index)">Done!</button>
						<button class="btn btn-info" ng-click="deleteTask($index)">Remove</button>
					</form>
				</td>
			</tr>
<!-- overflow wrap is text wrap in css -->			

			
		</tbody>
	</table>
</div>

<div ng-controller="listsController">
  <table class="table table-responsive" id="list">
    <thead>
     <tr>
        <th>Completed!</th>
     </tr>
    </thead>
    <tbody>
      <tr ng-repeat="done in dones">
      	<td id="over">{{done.to_do}}</td>
		<!-- <td ng-bind="done.to_do"></td>  -->

      </tr>

    </tbody>
  </table>
</div>